<ion-header>
  <app-common-top></app-common-top>
</ion-header>

<ion-content>
  <ion-progress-bar color="warning" *ngIf="api.progress" type="indeterminate"></ion-progress-bar>
  <ion-row>
    <ion-col size="6" *ngFor="let item of products;">
      <ion-img [src]="item.photo"></ion-img>
      <div class="title">{{ item.name }}</div>
      <div class="price">${{ item.price_label }}</div>
      <div class="text-center">
        <app-cart-button [count]="cart.getProductQuantity(item.id)" (refresh)="updateCart($event, item)"></app-cart-button>
      </div>
    </ion-col>
  </ion-row>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNext($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
