ion-item{
    .date{
        color: gray;
        font-size: 0.8rem;
    }
    .amount{
        font-size: 0.8rem;
        text-align: right;
    }
}

ion-item-divider{
    --inner-padding-end: 15px;
}