<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar color="warning" *ngIf="api.progress" type="indeterminate"></ion-progress-bar>

  <ion-segment (ionChange)="segmentChanged($event)" value="summary" color="orange">
    <ion-segment-button value="summary">
      <ion-label>Summary</ion-label>
    </ion-segment-button>
    <ion-segment-button value="details">
      <ion-label>Details</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="selectedSegment == 'summary'">
    <ion-item-divider>
      <ion-label>
        Income
      </ion-label>
      <ion-text slot="end">

      </ion-text>
    </ion-item-divider>
    <ion-item lines="full" *ngFor="let item of summary.income;">
      <ion-label>
        <h3>{{item.name}}</h3>
        <p>{{item.count}} times</p>
      </ion-label>
      <ion-text slot="end">
        {{item.total_amount}}
      </ion-text>
    </ion-item>



    <ion-item-divider>
      <ion-label>
        Expense
      </ion-label>
      <ion-text slot="end">

      </ion-text>
    </ion-item-divider>

    <ion-item lines="full" *ngFor="let item of summary.expense;">
      <ion-label>
        <h3>{{item.name}}</h3>
        <p>{{item.count}} times</p>
      </ion-label>
      <ion-text slot="end">
        {{item.total_amount}}
      </ion-text>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="selectedSegment == 'details'">
    <ion-item lines="full" *ngFor="let item of list;" (click)="showAlert(item.description)">
      <ion-label>
        <h3>{{item.name}}<br />
          <small><code>{{item.description}}</code></small>
        </h3>
      </ion-label>
      <ion-text slot="end">
        <div class="date">{{item.created_at}}</div>
        <div class="amount">{{item.amount}}</div>
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNext($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
