<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" color="orange">
    <ion-segment-button value="summary" checked="true">
      <ion-label>Summary</ion-label>
    </ion-segment-button>
    <ion-segment-button value="details">
      <ion-label>Details</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item-divider>
      <ion-label>
        Income
      </ion-label>
      <ion-text slot="end">
        5,505
      </ion-text>
    </ion-item-divider>
    <ion-item lines="full">
      <ion-label>
        <h3>Referral</h3>
        <p>3 times</p>
      </ion-label>
      <ion-text slot="end">
        550
      </ion-text>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        <h3>Bonus</h3>
        <p>3 times</p>
      </ion-label>
      <ion-text slot="end">
        550
      </ion-text>
    </ion-item>
  
    <ion-item-divider>
      <ion-label>
        Expense
      </ion-label>
      <ion-text slot="end">
        5,505
      </ion-text>
    </ion-item-divider>
  
    <ion-item lines="full">
      <ion-label>
        <h3>Referral</h3>
        <p>3 times</p>
      </ion-label>
      <ion-text slot="end">
        550
      </ion-text>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        <h3>Bonus</h3>
        <p>3 times</p>
      </ion-label>
      <ion-text slot="end">
        550
      </ion-text>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-item lines="full">
      <ion-label>
        <h3>Referral</h3>
        
      </ion-label>
      <ion-text slot="end">
        <div class="date">12-10-2021</div>
        <div class="amount">550</div>
      </ion-text>
    </ion-item>
    

  </ion-list>

</ion-content>