<ion-header>
  <app-common-top></app-common-top>
</ion-header>

<ion-content>
  <ion-progress-bar color="warning" *ngIf="api.progress" type="indeterminate"></ion-progress-bar>

  <ion-card *ngIf="!user.isLogin">
    <ion-card-content>
      <div class="income">
        <span>৳</span>
        <span>{{ collectedAmount }}</span>
      </div>
      <ion-button expand="block" color="orange" href="/login">Claim Today's Income</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!api.progress && !isCollected && user.isLogin">
    <ion-card-content>
      <div class="income">
        <span>৳</span>
        <span>{{ collectedAmount }}</span>
      </div>
      <ion-button expand="block" color="orange" (click)="claimIncome()">Claim Today's Income</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isCollected && user.isLogin">
    <ion-card-content>
      <div class="income success">
        <span>৳</span>
        <span>{{ collectedAmount }}</span>
      </div>
      <ion-button expand="block" color="success" [disabled]="true">Successfully Collected</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
