<div class="block" *ngIf="count">
  <!-- <button (click)="remove()" class="parts remove">-</button> -->
  <ion-icon (click)="remove()" class="parts remove" color="danger" name="remove-circle-outline"></ion-icon>
  <input class="parts" type="number" [value]="count">
  <ion-icon (click)="add()" class="parts add" color="success" name="add-circle-outline"></ion-icon>
  <!-- <button (click)="add()" class="parts add">+</button> -->
</div>
<!-- <div class="add-to-cart" *ngIf="!count" (click)="add()">
  Add to Cart
</div> -->

<ion-button fill="outline" size="small" shape="round" color="orange" *ngIf="!count" (click)="add()">
  <ion-icon name="bag-add-outline"></ion-icon>&nbsp;Add to Cart
</ion-button>
