.notification-btn {
  ion-badge {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.9;
    font-size: 70%;
    padding: 6px;
  }

  .shopping-basket {
    margin-right: 9px;
  }
}

.account {
  position: relative;
  display: block;
  width: 70%;
  border: 1px solid var(--theme-base-color);
  color: var(--theme-base-color);
  border-radius: 25px;
  font-size: 0.9rem;
  padding: 5px 5px 5px 30px;
  margin: 0 auto;

  .icon {
    background-color: var(--theme-base-color);
    color: var(--theme-base-contrast);
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 50%;
    position: absolute;
    height: 22px;
    width: 22px;
    top: 2px;
    left: 2px;
    line-height: 15px;
    text-align: center;
  }

  .amount {
    text-align: right;
  }
}
