<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar color="warning" *ngIf="api.progress" type="indeterminate"></ion-progress-bar>

  <ion-row class="ion-align-items-center">
    <ion-col size="4" class="profile-photo">
      <img src="{{user.data.photo}}" alt="">
      <ion-button fill="clear" (click)="edit()" *ngIf="!editProfile">
        <ion-icon name="create"></ion-icon>
      </ion-button>

      <div class="input--file" *ngIf="editProfile">
        <div class="input-block">
          <ion-icon name="camera"></ion-icon>
          <span class="text">
            <ng-content></ng-content>
          </span>
          <ion-input type="file" (change)="photoUpload($event)"></ion-input>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-list class="profile" *ngIf="!editProfile">
    <ion-item lines="full">
      <ion-label position="stacked">Point</ion-label>
      <p>{{user.data.balance}}</p>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Full Name</ion-label>
      <p>{{user.data.name}}</p>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">User Name</ion-label>
      <p>{{user.data.login}}</p>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Referrer</ion-label>
      <p>{{user.data.referrer}}</p>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Phone</ion-label>
      <p>{{user.data.phone}}</p>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Email</ion-label>
      <p>{{user.data.email}}</p>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">NID</ion-label>
      <p>{{user.data.nid}}</p>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Address</ion-label>
      <p>{{user.data.address}}</p>
    </ion-item>
  </ion-list>

  <div *ngIf="editProfile">
    <ion-row>
      <ion-col >
        <ion-input placeholder="Full Name" type="text" [(ngModel)]="user.data.name"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-input placeholder="Mobile" type="tel" [(ngModel)]="user.data.phone"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-input placeholder="Email" type="email" [(ngModel)]="user.data.email"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-input placeholder="NID" type="text" [(ngModel)]="user.data.nid"></ion-input>
      </ion-col>
    </ion-row>
    
    
    <ion-row>
      <ion-col >
        <ion-input placeholder="Address" type="text" [(ngModel)]="user.data.address"></ion-input>
      </ion-col>
    </ion-row>
  
    <ion-button expand="block" shape="round" color="orange" (click)="update()">Update Profile</ion-button>
  </div>
  
</ion-content>
