<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Fund Transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col >
      <ion-input placeholder="User Name" type="text"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <ion-input placeholder="Amount" type="number"></ion-input>
    </ion-col>
  </ion-row>

  <ion-button expand="block" shape="round" color="orange" (click)="sendFund()">Send Fund</ion-button>
</ion-content>
