<ion-tabs>
  <ion-tab-bar slot="bottom" color="orange">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="income">
      <ion-icon name="arrow-down-circle-outline"></ion-icon>
      <ion-label>Income</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="withdraw">
      <ion-icon name="arrow-up-circle-outline"></ion-icon>
      <ion-label>Withdraw</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="send">
      <ion-icon name="arrow-redo-outline"></ion-icon>
      <ion-label>Send</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="shop">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>