<ion-header>
  <app-common-top></app-common-top>
</ion-header>

<ion-content>
  <ion-progress-bar color="warning" *ngIf="api.progress" type="indeterminate"></ion-progress-bar>
  
  <ion-button *ngIf="!user.isLogin" expand="block" color="orange" href="/login">Create Withdraw Request</ion-button>
  <ion-button *ngIf="!showWithdrawRequestForm && user.isLogin" expand="block" color="orange" (click)="createWithdrawRequest()">Create Withdraw Request</ion-button>

  <div *ngIf="showWithdrawRequestForm">
    <ion-row>
      <ion-col>
        <ion-item class="select" lines="none">
          <ion-label>Select Bank</ion-label>
          <ion-select okText="Ok" cancelText="Cancel" [(ngModel)]="orderRequest.bank_id">
            <ion-select-option *ngFor="let item of banks;" value="{{item.id}}" >
              {{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-input placeholder="Account No." type="text" [(ngModel)]="orderRequest.account_no"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-input placeholder="Amount" type="number" [(ngModel)]="orderRequest.amount"></ion-input>
      </ion-col>
    </ion-row>
    <ion-button expand="block" shape="round" color="orange" (click)="submitWithdrawRequest()">Submit Withdraw Request</ion-button>
  </div>

  <ion-list *ngIf="!showWithdrawRequestForm && user.isLogin">

    <ion-item lines="full" *ngFor="let item of list;">
      <ion-label>
        <h3> <ion-text color="{{ item.status_color }}">{{ item.status_name }}</ion-text> </h3>
        <p>{{ item.bank }} ({{ item.account_no }})</p>
      </ion-label>
      <ion-text slot="end">
        <div class="date">{{ item.created_at }}</div>
        <div class="amount">{{ item.amount }}</div>
      </ion-text>
    </ion-item>
    
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNext($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
