<ion-header>
  <app-common-top></app-common-top>
</ion-header>

<ion-content>
  <ion-button *ngIf="!showWithdrawRequestForm" expand="block" color="orange" (click)="createWithdrawRequest()">Create Withdraw Request</ion-button>

  <div *ngIf="showWithdrawRequestForm">
    <ion-row>
      <ion-col>
        <ion-item class="select" lines="none">
          <ion-label>Select Bank</ion-label>
          <ion-select okText="Ok" cancelText="Cancel">
            <ion-select-option value="brown">Bkash</ion-select-option>
            <ion-select-option value="blonde">Rocket</ion-select-option>
            <ion-select-option value="black">Nagad</ion-select-option>
            <ion-select-option value="red">DBBL</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-input placeholder="Account No." type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-input placeholder="Amount" type="number"></ion-input>
      </ion-col>
    </ion-row>
    <ion-button expand="block" shape="round" color="orange" (click)="submitWithdrawRequest()">Submit Withdraw Request</ion-button>
  </div>

  <ion-list *ngIf="!showWithdrawRequestForm">

    <ion-item lines="full">
      <ion-label>
        <h3>Pending</h3>
        <p>Bkash (01678059450)</p>
      </ion-label>
      <ion-text slot="end">
        <div class="date">12-10-2021</div>
        <div class="amount">550</div>
      </ion-text>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        <h3>Approved</h3>
        <p>Bkash (01678059450)</p>
      </ion-label>
      <ion-text slot="end">
        <div class="date">12-10-2021</div>
        <div class="amount">550</div>
      </ion-text>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        <h3>Decline</h3>
        <p>Bkash (01678059450)</p>
      </ion-label>
      <ion-text slot="end">
        <div class="date">12-10-2021</div>
        <div class="amount">550</div>
      </ion-text>
    </ion-item>
    
  </ion-list>

</ion-content>
