<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-label>
        MY ACCOUNTS
      </ion-label>
      <ion-text slot="end">
        
      </ion-text>
    </ion-item-divider>
    <ion-item lines="full">
      <ion-label>
        <h3>User1</h3>
        
      </ion-label>
      <ion-text slot="end">
        <div class="date">12-10-2021</div>
        <div class="amount">Referrer: User1</div>
      </ion-text>
    </ion-item>
    

  </ion-list>
</ion-content>
