<ion-header>
  <app-common-top></app-common-top>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar color="warning" *ngIf="api.progress" type="indeterminate"></ion-progress-bar>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let item of slides;">
      <img src="{{ item.photo }}" alt="{{ item.name }}">
    </ion-slide>
  </ion-slides>

  <ion-row>
    <ion-col size="6" *ngFor="let item of products;">
      <ion-img [src]="item.photo"></ion-img>
      <div class="title">{{ item.name }}</div>
      <div class="price">${{ item.price_label }}</div>
      <app-cart-button [count]="count" (refresh)="refresh($event)"></app-cart-button>
    </ion-col>
  </ion-row>
</ion-content>
