<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Shopping Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="order">
    <ion-card-content>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <div class="title">Item Thumbnail Item Thumbnail Item Thumbnail</div>
          <div class="price">৳ 3,895</div>
          <app-cart-button [count]="count" (refresh)="refresh($event)"></app-cart-button>
        </ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <div class="title">Item Thumbnail Item Thumbnail Item Thumbnail</div>
          <div class="price">৳ 3,895</div>
          <app-cart-button [count]="count" (refresh)="refresh($event)"></app-cart-button>
        </ion-label>
      </ion-item>

      <div>
        <div class="down">Quantity: {{count}}</div>
        <div class="down text-right">Total: ৳ 3,895</div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
