ion-card.order{
    font-family: sans-serif;
      ion-card-header{
        border-bottom: 1px solid lightgray; padding: 5px 10px 5px 10px; 
        ion-card-subtitle{
          color: var(--theme-base-contrast);
          font-size: 0.7rem;
          margin-top: 0px;
        }
      }
      ion-card-content{
        padding: 8px 10px 8px 10px;
        .down{
          display: inline-block;
          font-size: 0.8rem;
          width: 50%;
        }
      }
      ion-item{
        --padding-start: 0px;
        --padding-end: 0px;
        .title{font-size: 0.7rem; font-family: sans-serif;}
        .price{font-size: 0.8rem; font-family: sans-serif;}
        .quantity{font-size: 0.8rem; font-family: sans-serif;}
      }
    }

    ion-input{
      border: 1px solid lightgray;
      border-radius: 30px;
      --padding-top: 7px;
      --padding-bottom: 7px;
  }