<ion-content>
  <ion-progress-bar color="warning" *ngIf="api.progress" type="indeterminate"></ion-progress-bar>

  <ion-row class="ion-align-items-center top-logo">
    <ion-col size="4" routerLink="/tabs">
      <img src="assets/images/logo.png" alt="">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <ion-input placeholder="User Name" type="text" [(ngModel)]="user_data.login"></ion-input>
    </ion-col>
  </ion-row>
  <ion-button expand="block" shape="round" color="orange" (click)="forget()" [disabled]="api.progress">Get Password</ion-button>
  <ion-button fill="clear" expand="block" shape="round" color="primary" href="/login">Go to Login</ion-button>
  <ion-button fill="clear" expand="block" shape="round" color="success" href="/tabs">GO TO HOME</ion-button>
</ion-content>